<div class="card mt-4">
    <div class="card-body">  
        <h1>{{postagem.titulo}}</h1>
        <hr class="my-3">
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr class="my-3">
        <div style="text-align: center;">
            <img src="/img/{{postagem.imagem}}" class="img-fluid" alt="Responsive image">
        </div>
        <hr class="my-3">
        {{postagem.conteudo}}                
    </div>
</div>
